/*REDES Y PORTAFOLIOS*/
.redes-portafolios__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.redes-portafolios__list li {
    width: 40%;
    margin-bottom: 50px;
}